@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Lobster&family=Montserrat:wght@100&family=Titillium+Web:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}
